body {
  font-family: "Poppins";
  color: #FFF;
  margin: 0;
  padding: 0;

  background-color: #000000;
  opacity: 1;
  background-image:  radial-gradient(#FFD700 2px, transparent 2px), radial-gradient(#FFD700 2px, #000000 2px);
  background-size: 80px 80px;
  background-position: 0 0,40px 40px;

}

input {
  border-radius: 20px !important;
  background-color: #f2f2f2 !important ;
}

.mainLayout {
  background-Color: "#000" !important;
  margin: 40 !important;
  border: '2px solid #e8e8e8' !important;
  border-radius: 20 !important;
}